.friend {
  width: 13rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.friend span {
  font-size: 2rem;
  font-weight: 500;
}

.friend-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}
